# Ignore all "class" files in 'Web-App-Back-End' folder
Web-App-Back-End/**/*.class
# Ignore all "class" files in 'Implementation' folder
Implementation/**/*.class
# Ignore all ".vscode" files
.vscode/**